<!-- Reactive Form -->
<form [formGroup]="serviceForm" (submit)="add()">
  <input formControlName="name" type="text" placeholder="Enter service name" />
  <button type="submit" class="btn btn-primary">Add</button>
  <p>{{ error }}</p>
</form>

<div *ngFor="let service of services">
  <p>{{ service.name }}</p>
  <button class="btn btn-primary" (click)="edit()">Düzenle</button>
  <button class="btn btn-dark" (click)="delete(service.id)">Sil</button>
</div>

<!-- ngModel Form -->
<!-- <h3>Form - Delete</h3>
Silecek olan id: {{ categoryIdToDelete }}
<div>
  <input type="text" placeholder="id" [(ngModel)]="categoryIdToDelete" />
</div> -->
